* {
  box-sizing: border-box;
}
html,
body,
div,
img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
}

.content {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  padding-top: 60px;
  justify-content: center;
}

.product-img {
  margin: 5px;
  height: 300px;
  width: 300px;
}
