/* 1. images grid reponsive
2. image onclick

 */

html,
body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  height: 100%;
  max-width: 100%;
  padding: 0;
  background: #ffffff;
  overflow: hidden;
}

img {
  border: 1px solid white;
  display: block;
  float: left;
  height: 500px;
  width: 500px;
  padding: 10px;
}

.logo {
  height: 300px;
  width: 500px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.view {
  overflow: hidden;
  position: relative;
}

.content {
  position: relative;
  overflow: hidden;
}

.row {
  display: flex;
  flex-wrap: wrap;
  /* padding: 0 4px; */
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  /* padding: 0 4px; */
}

.column img {
  height: 400px;
  width: 400px;
  padding: 10px;
  /* margin-top: 8px; */
  vertical-align: middle;
  /* width: 100%; */
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
